@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  margin: 0;
  padding: 0;
}

.main {
  margin-left: 5rem;
  background-color: #ffffff;
  -webkit-animation: fade-in 0.2s linear both;
  animation: fade-in 0.2s linear both;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .main {
    margin: 0;
    margin-bottom: 5rem;
  }
}

.bolded {
  font-weight: bold;
}

.bolded-red {
  color: #fb4f4d;
}

.highlight {
  color: #4071f4;
}

.m-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Serif Pro', serif;
}

.bg-green {
  background-color: #007a3e;
}

.bg-blue {
  background-color: #343579;
}

.bg-red {
  background-color: #793434;
}

.bg-smoke {
  background-color: #f8f9f2;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: #E6E8DE;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.nav {
  z-index: 2;
  position: fixed;
  background-color: #212426;
  -webkit-transition: width 100ms ease;
  transition: width 100ms ease;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #fff;
  background: #242423;
  width: 100%;
}

.nav .logo span {
  font-size: x-large;
}

.nav .nav-item {
  width: 100%;
}

.nav .nav-item:last-child {
  margin-top: auto;
}

.nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: #fff;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(1);
          filter: grayscale(100%) opacity(1);
  -webkit-transition: 100ms;
  transition: 100ms;
}

.nav .nav-item .nav-link .link-text {
  margin-left: 1rem;
}

.nav .nav-item .nav-link i {
  width: 1rem;
  min-width: 1rem;
  margin: 0 1.5rem;
  -webkit-transition: 100ms ease;
  transition: 100ms ease;
}

.nav .nav-item .nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: #212529;
  color: #4071f4;
  cursor: pointer;
}

.nav .nav-item .nav-link:hover i {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5rem;
    width: 100vw;
    bottom: 0;
  }
  .nav .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .nav-link span {
    display: none;
  }
  .nav .nav-item:first-child {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .nav:hover {
    width: 15rem;
  }
  .nav:hover .link-text {
    display: inline;
  }
  .nav:hover .logo span {
    left: 0px;
  }
}

/* Standard syntax */
@-webkit-keyframes backgroundColorPalette {
  0% {
    background: #5c5ef3;
  }
  25% {
    background: #3f45fc;
  }
  50% {
    background: #3032aa;
  }
  75% {
    background: #3e08bd;
  }
  100% {
    background: #0d48b8;
  }
}
@keyframes backgroundColorPalette {
  0% {
    background: #5c5ef3;
  }
  25% {
    background: #3f45fc;
  }
  50% {
    background: #3032aa;
  }
  75% {
    background: #3e08bd;
  }
  100% {
    background: #0d48b8;
  }
}

.header {
  -webkit-animation-name: backgroundColorPalette;
          animation-name: backgroundColorPalette;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  color: #fff;
}

a.special-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #fff;
  font-weight: 300;
  color: #fff;
  text-align: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

a.special-btn:hover {
  color: #212529;
  background-color: #fff;
  padding: 0.35em 2em;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-16 19:45:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.vibrate-1:hover {
  -webkit-animation: vibrate-1 2s linear infinite both;
  animation: vibrate-1 2s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-27 20:30:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-26 3:32:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 21:0:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: #fff;
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-noHover {
  pointer-events: none;
}

.card:hover {
  -webkit-box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
          box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
  -webkit-filter: opacity(1) saturate(150%);
          filter: opacity(1) saturate(150%);
}

.card-xsm {
  height: 10rem;
}

.card-sm {
  height: 15rem;
}

.card-md {
  height: 20rem;
}

.card-lg {
  height: 25rem;
}

.card-xl {
  height: 30rem;
}

.card-2xl {
  height: 35rem;
}

.card-3xl {
  height: 40rem;
}

.card-4xl {
  height: 45rem;
}

.blur {
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.blur:hover {
  -webkit-filter: none;
          filter: none;
}

.blur-none {
  -webkit-filter: none;
          filter: none;
}

.card-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000;
  font-weight: 300;
  text-align: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.card-btn:hover {
  padding: 0.35em 2em;
}

.card-btn-blue {
  color: white;
  background-color: #4648a4;
}

.card-btn-green {
  color: white;
  background-color: #007a3e;
}

.img-icon {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.img-icon:hover {
  -webkit-transform: rotate(10deg) scale(1.2);
          transform: rotate(10deg) scale(1.2);
  -webkit-filter: opacity(1) saturate(150%);
          filter: opacity(1) saturate(150%);
}
/*# sourceMappingURL=style.css.map */